Source: ros-indigo-sdformat4
Standards-Version: 3.9.5
Maintainer: Tamaki Nishino <otamachan@gmail.com>
Section: misc
Priority: optional
Build-Depends: cmake,
               debhelper (>= 9),
               python,
               latex-xcolor,
               libboost-system-dev,
               libboost-filesystem-dev,
               libboost-program-options-dev,
               libboost-regex-dev,
               libboost-iostreams-dev,
               libtinyxml-dev,
               doxygen,
               texlive-base,
               texlive-fonts-recommended,
               texlive-latex-extra,
               ruby1.9.1,
               libignition-math2-dev
Vcs-Browser: https://bitbucket.org/osrf/sdformat4-release
Vcs-Hg: https://bitbucket.org/osrf/sdformat4-release
Homepage: http://sdformat.org

Package: ros-indigo-sdformat4
Architecture: amd64
Section: misc
Depends: libboost-system-dev,
         libboost-filesystem-dev,
         libboost-program-options-dev,
         libboost-regex-dev,
         libboost-iostreams-dev,
         libtinyxml-dev,
         libignition-math2-dev,
         ${misc:Depends}
Provides: libsdformat4,
          libsdformat4-dev,
	  sdformat-sdf,
	  sdformat4-doc
Description: Simulation Description Format (SDF) parser - Development files
 SDF is an XML file format that describes environments, objects, and robots
 in a manner suitable for robotic applications. SDF is capable of representing
 and describing different physic engines, lighting properties, terrain, static
 or dynamic objects, and articulated robots with various sensors, and acutators.
 The format of SDF is also described by XML, which facilitates updates and
 allows conversion from previous versions. A parser is also contained within
 this package that reads SDF files and returns a C++ interface.
